<div class="row">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Altitude</th>
            <th>Ville</th>
            <th>Nombre de salles</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Migarama</td>
            <td>12345</td>
            <td>78923</td>
            <td>66663</td>
            <td>Marrakech</td>
            <td>7</td>
            <td class="d-flex justify-content-around">
               <button class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></button>
                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>