<div class="col p-3">
    <div class="d-flex justify-content-between m-2">
        <div>
            Listes des cinémas
        </div>
        <div>
            <button (click)="newCinema()" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> Nouveau</button>
        </div>
    </div>
    <div class="row m-2">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Altitude</th>
                    <th>Ville</th>
                    <th>Nombre de salles</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cinema of listCinemas">
                    <td>{{ cinema.name }}</td>
                    <td>{{ cinema.longitude }}</td>
                    <td>{{ cinema.latitude }}</td>
                    <td>{{ cinema.altitude }}</td>
                    <td>{{ cinema.ville?.name }}</td>
                    <td>{{ cinema.nombreSalles }}</td>
                    <td class="d-flex justify-content-around">
                       <button (click)="editCinema(cinema.id)" class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></button>
                        <button data-bs-toggle="modal" data-bs-target="#modalDeleteCinema" (click)="selectCinema(cinema.id)" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div *ngIf="listCinemas.length > 0" class="row m-2 text-center">
        <app-pagination></app-pagination>
    </div>

    <!-- Start Modal -->
<div class="modal fade" id="modalDeleteCinema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Supprimer la cinema</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Est vous sur de vouloir supprimer cette cinéma ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button (click)="deleteCinema()" type="button" data-bs-dismiss="modal" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
  
</div>
