<section class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Connexion</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label>Adresse E-mail</label>
                      <input type="email" class="form-control" placeholder="E-mail">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label >Mot de passe</label>
                      <input type="password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Se connecter</button>
                  </form>
            </div>
          </div>
    </div>
</section>