<div class="row">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adventure</td>
            <td class="d-flex justify-content-around">
               <button class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></button>
               <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
